p {
  width: 60%;
  font-weight: lighter;
  font-size: 1rem;
  margin: 0 auto;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 0 .5rem 0;
}

.nav-item {
  font-weight: lighter;
}

.title-text {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  padding: 6rem 0 2rem 2rem;
}

.download-button {
  padding: .7rem;
  margin: 2rem;
}

.title-image {
  height: 100%;
  margin: 6rem 12rem 3rem 8rem;
  transform: rotate(25deg);
  position: absolute;
}

#features {
  background-color: white;
  text-align: center;
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.feature {
  padding: 0;
}

.feature-heading {
  width: 85%;
  margin: 0 auto;
}

.icon {
  color: #d9534f;
  margin: 2rem 0;
}

.icon:hover {
  color: black;
}

#testimonials {
  text-align: center;
  color: white;
}

.testimonial-text {
  padding: 6rem 8rem 4rem 8rem;
}

.testimonial-image {
  border-radius: 100%;
  height: 6rem;
  padding: 1rem;
}

#press {
  text-align: center;
  margin-bottom: 3rem;
}

.press-image {
  height: 2.5rem;
  margin: 3rem 1rem 2rem 1rem;
}

#pricing {
  margin: 1rem;
}

.pricing-header {
  margin: 4rem 0;
  padding: 1rem 0 0;
  text-align: center;
  font-weight: bolder;
}

.card-column {
  margin: 2rem 0;
  text-align: center;
  font-weight: bold;
  border-color: black;
}

.card-header {
  background-color: #292b2c;
  color: white;
}

.card-button {
  margin: 8px;
}

#cta {
  margin-top: 3rem;
  text-align: center;
}

.footer {
  color: white;
  padding: 2rem 5rem .5rem;
}

#footer {
  color: white;
  text-align: center;
  font-size: .8rem;
  font-weight: lighter;
  padding: 1rem;
}

@media (max-width:1000px) {
  .title-container {
    text-align: center;
  }

  .title-text {
    margin: 0;
  }

  .download-button {
    padding: .7rem;
    margin: 1rem;
  }

  .title-image {
    margin: 3rem auto 0;
    height: 75%;
    position: static;
    transform: rotate(0);
  }
}
